html, body{
  scroll-behavior: smooth;
}
.containers{
  width: 90%;
  margin: 0 auto;
}
button:hover{
  transition-duration: .5s;
  transform: scale(1.06);
}
.heart{
  animation: infinite 1s heart;
}

@keyframes heart {
  0%{
    transform: scale(1.2);
  }
  50%{
    transform: scale(1);
  }100%{
    transform: scale(1.2);
  }
}